<!DOCTYPE html>
<html th:replace="~{fragments/layout :: main-layout(
			~{::short-url-header},
			~{::short-url-main},
			~{::short-url-footer}
		)}">

<!--Buttons on Nav-->
<th:block th:fragment="short-url-header">
	<li><a href="/" role="button">Back</a></li>
	<li><a href="/account"><img th:src="${userPfp}" width="50px" loading="lazy" /></a></li>
</th:block>

<!--Main content-->
<th:block th:fragment="short-url-main">
	<section id="urls-list">
		<th:block th:if="${isSuccess}">
			<ins style="display: block; margin-bottom: 1rem;">
				<strong>URL shortened!</strong> Your short URL is:
				<a th:href="${fullLink}" th:text="${displayUrl}">urls.hridaykh.in/placeholder</a>
			</ins>
		</th:block>
		<p>Deleted URLs will not be restore-able after 30 days of deletion!</p>
		<figure>
			<table>
				<thead>
					<tr>
						<th scope="col">Short URL</th>
						<th scope="col">Orignal URL</th>
						<th scope="col">Delete Reason</th>
						<th scope="col">Deleted At</th>
						<th scope="col" style="text-align: right;"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="url : ${urls}">
						<td>
							<a th:href="${url.fullLink}" th:text="${url.displayUrl}"
								target="_blank"></a>
						</td>
						<td>
							<a th:href="${url.orignalUrl}" th:text="${url.orignalUrl}"
								target="_blank"></a>
						</td>
						<td>
							<small th:text="${url.deleteReason}"></small>
						</td>
						<td>
							<small th:text="${url.deletedAt}"></small>
						</td>
						<td style="text-align: right;">
							<a href="" th:attr="hx-post=@{/restore/{id}(id=${url.id})}"
								hx-confirm="Are you sure you want to restore this link?"
								hx-target="closest tr" hx-swap="outerHTML"
								style="text-decoration: none;">
								Restore
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</figure>
	</section>
	<script type="text/javascript">
		if (window.location.search.includes('scs') || window.location.search.includes('du') || window.location.search.includes('fl')) {
			window.history.replaceState({}, document.title, window.location.pathname);
		}
	</script>
</th:block>

<!--Footer Content-->
<th:block th:fragment="short-url-footer">
</th:block>

</html>