<!DOCTYPE html>
<html th:replace="~{fragments/layout :: main-layout(
			~{::short-url-header},
			~{::short-url-main},
			~{::short-url-footer}
		)}">

<!--Buttons on Nav-->
<th:block th:fragment="short-url-header">
	<li><a href="/new" role="button">New +</a></li>
	<li><a href="/oauth/logout">Logout</a></li>
	<li><img th:src="${userPfp}" width="50px" loading="lazy" /></li>
</th:block>

<!--Main content-->
<th:block th:fragment="short-url-main">
	<section>
		<h1>
			Hello User id: <i th:text="${userId}">12</i>!
		</h1>
		<p>This is JWT and stateless JWT data extraction in action!</p>

		<th:block th:if="${msgSuccess}">
			<strong style="color: green;" th:text="${msgSuccess}">Success:Action Successful!</strong>
		</th:block>
	</section>
	<section id="shorten-url-input">
		<!--Doing normal anon urls for now-->
		<form role="group" hx-post="/urls/new-anon" hx-target="#shorten-url-result" hx-swap="outerHTML"
			hx-indicator="#shorten-url-result">

			<input type="url" name="originalUrl" placeholder="Enter Link" required />
			<select name="domain" required>
				<option selected disabled value="">Select Domain</option>
				<option th:each="domain : ${domainsList}" th:value="${domain}" th:text="${domain}">
					PLACEHOLDER
				</option>
			</select>

			<input type="submit" value="Shorten" />
		</form>
	</section>

	<section id="shorten-url-result">
		<ins>Ready to shorten your first link!</ins>
	</section>
</th:block>

<!--Footer Content-->
<th:block th:fragment="short-url-footer">
</th:block>

</html>