<!DOCTYPE html>
<html th:replace="~{fragments/layout :: main-layout(
			~{::short-url-header},
			~{::short-url-main},
			~{::short-url-footer}
		)}">

<!--Buttons on Nav-->
<th:block th:fragment="short-url-header">
	<li onclick="document.getElementById('providerListModal').setAttribute('open', ''); 
             document.getElementById('auth-type').innerText = 'Login'">
		<a href="#"> Login </a>
	</li>

	<li onclick="document.getElementById('providerListModal').setAttribute('open', ''); 
             document.getElementById('auth-type').innerText = 'Register'">
		<a href="#"> Register </a>
	</li>
</th:block>

<!--Main content-->
<th:block th:fragment="short-url-main">
	<section id="shorten-url-input">
		<form role="group" hx-post="/urls/new-anon" hx-target="#shorten-url-result" hx-swap="outerHTML"
			hx-indicator="#shorten-url-result"
			onhtmx:before-request="document.querySelector('#shorten-url-result').setAttribute('aria-busy', 'true')">

			<input type="url" name="originalUrl" placeholder="Enter Link" required />
			<select name="domain" required>
				<option selected disabled value="">Select Domain</option>
				<option th:each="domain : ${domainsList}" th:value="${domain}" th:text="${domain}">
					PLACEHOLDER
				</option>
			</select>

			<input type="submit" value="Shorten" />
		</form>
	</section>

	<section id="shorten-url-result">
		<ins>Ready to shorten your first link!</ins>
	</section>

	<section id="auth-modal">
		<dialog id="providerListModal">
			<article>
				<header>
					<button aria-label="Close" rel="prev"
						onclick="document.getElementById('providerListModal').removeAttribute('open')">
					</button>
					<p>
						<strong id="auth-type"></strong>
					</p>
				</header>
				<ul id="providerList">
					<li> <a href="/oauth/initiate/GOOGLE"> Google </a> </li>
					<li> <a href="/oauth/initiate/GITHUB"> Github </a> </li>
				</ul>
			</article>
		</dialog>
	</section>
</th:block>

<!--Footer Content-->
<th:block th:fragment="short-url-footer"></th:block>

</html>