<!DOCTYPE html>
<html th:replace="~{fragments/layout :: main-layout(
			~{::short-url-header},
			~{::short-url-main},
			~{::short-url-footer}
		)}">

<!--Buttons on Nav-->
<th:block th:fragment="short-url-header">
	<li><a href="/new" role="button">New +</a></li>
	<li><a href="/deleted-urls">Deleted URLs</a></li>
	<li><a href="/account"><img th:src="${userPfp}" width="50px" loading="lazy" /></a></li>
</th:block>

<!--Main content-->
<th:block th:fragment="short-url-main">
	<section id="urls-list">
		<th:block th:if="${isSuccess}">
			<ins style="display: block; margin-bottom: 1rem;">
				<strong th:text="${scsMsg}"></strong>
				<a th:href="${fullLink}" th:text="${displayUrl}">urls.hridaykh.in/placeholder</a>
			</ins>
		</th:block>

		<figure>
			<table>
				<thead>
					<tr>
						<th scope="col">Short URL</th>
						<th scope="col">Orignal URL</th>
						<th scope="col">Stats</th>
						<th scope="col" style="text-align: right;"></th>
						<th scope="col" style="text-align: right;"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="url : ${urls}">
						<td>
							<a th:href="${url.fullLink}" th:text="${url.displayUrl}"
								target="_blank"></a>
						</td>
						<td>
							<a th:href="${url.orignalUrl}" th:text="${url.orignalUrl}"
								target="_blank"></a>
						</td>
						<td>
							<small style="color: var(--pico-muted-color);">
								<span th:text="${url.clickCount}">0</span> clicks
								•
								Last visited: <span
									th:text="${url.lastClicked}">Today</span>
							</small>
						</td>
						<td style="text-align: right;">
							<a href="" th:href="@{/edit/{id}(id=${url.id})}"
								style="text-decoration: none;">
								Edit
							</a>
						</td>
						<td style="text-align: right;">
							<a href="" th:attr="hx-post=@{/delete/{id}(id=${url.id})}"
								hx-confirm="Are you sure you want to delete this link?"
								hx-target="closest tr" hx-swap="outerHTML"
								style="text-decoration: none;">
								Delete
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</figure>
	</section>
	<script type="text/javascript">
		if (window.location.search.includes('scs') || window.location.search.includes('du') || window.location.search.includes('fl')) {
			window.history.replaceState({}, document.title, window.location.pathname);
		}
	</script>
</th:block>

<!--Footer Content-->
<th:block th:fragment="short-url-footer">
</th:block>

</html>